doctype html
html
  head
    style
      include ./style.css // You can add a shared style.css file
  body
    h1 Welcome to L2brary, #{name}!
    p We are so excited to have you join the club.
    p Get started by exploring the member dashboard.
    p
      a(href=url) Go to Dashboard
    p - The L2brary Team